.header {
    background-image: url("Assets/Mario\ Banner.png");
    height: 400px;
    width: 100%;
    display: flex;
    background-size: cover;
    text-align:justify;
    justify-content: center;
  }
  .header h2 {
    position: absolute;
    font-family: Retropix;
    color: #2B9E44;
    font-size: 9vh;
    top: 5%;
    display: flex;
  }
  .dark-mode {
    background-color: #4C4C4C;
    color: #ffffff;
  }
  .hero {
    padding: 5em;
  }
  .container-Review {
    background-color: #a7a7a7;
    padding: 2em;
    border-radius: 15px;
  }
  h1 {
    margin: 0;
    font-family: Consolas;
    color: #2B9E44;
    font-size: 60px;
    text-align: center;
  }
  h4 {
    font-family: Consolas;
    font-size: 18px;
    color: black;
  }
  h3 {
    font-family: Consolas;
    font-size: 25px;
    text-align: center;
    color: black;
  }
  span {
    color: #2B9E44;
  }
  strong {
    font-family: Consolas;
  }
  p {
    color: black;
    font-family: Arimo;
    font-size: 25px;
    margin: 0;
  }
  
  .footer {
    text-align: center;
    padding: 50px;
    font-family: Retropix;
    font-size: 3em;
    color: #2B9E44;
    background-color: #575757;
  }
a{
    color: #2B9E44;
    text-decoration: none;
}
body{
  background: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
}
.Review-Form {
  text-decoration: none;
  font-family: Consolas;
  text-align: center;
  font-size: 20px;
  background-color: #bdbdbd;
  padding: 30px;
  border-radius: 20px;
}
.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #00B4CC;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 40%;
  top: 50%;
  left: 50%;
  transform: translate(75%, -10%);
}
#testimonials{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:100%;
}
.testimonial-heading{
    letter-spacing: 1px;
    margin: 30px 0px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.testimonial-heading{
    font-size: 2.2rem;
    font-weight: 500;
    background-color: #202020;
    color: #ffffff;
    padding: 10px 20px;
}
.testimonial-heading span{
    font-size: 1.3rem;
    color: #252525;
    margin-bottom: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.testimonial-box-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width:100%;
}
.testimonial-box-M64{
    width:500px;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
    background-color: #ffffff;
    padding: 20px;
    margin: 15px;
    cursor: pointer;
}
.testimonial-box-Sonic{
  width:500px;
  box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
  background-color: #ffffff;
  padding: 20px;
  margin: 15px;
  cursor: pointer;
}
.testimonial-box-Pokemon{
  width:500px;
  box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
  background-color: #ffffff;
  padding: 20px;
  margin: 15px;
  cursor: pointer;
}
.testimonial-box-P3{
  width:500px;
  box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
  background-color: #ffffff;
  padding: 20px;
  margin: 15px;
  cursor: pointer;
}
.testimonial-box-Metroid{
  width:500px;
  box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
  background-color: #ffffff;
  padding: 20px;
  margin: 15px;
  cursor: pointer;
}
.testimonial-box-Pokemon{
  width:500px;
  box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
  background-color: #ffffff;
  padding: 20px;
  margin: 15px;
  cursor: pointer;
}
.testimonial-box-TP{
  width:500px;
  box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
  background-color: #ffffff;
  padding: 20px;
  margin: 15px;
  cursor: pointer;
}
.testimonial-box-Halo{
  width:500px;
  box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
  background-color: #ffffff;
  padding: 20px;
  margin: 15px;
  cursor: pointer;
}
.testimonial-box-FFVII{
  width:500px;
  box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
  background-color: #ffffff;
  padding: 20px;
  margin: 15px;
  cursor: pointer;
}

.profile-img{
    width:50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}
.profile-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.profile{
    display: flex;
    align-items: center;
}
.name-user{
    display: flex;
    flex-direction: column;
}
.name-user strong{
    color: #3d3d3d;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
}
.name-user span{
    color: #979797;
    font-size: 0.8rem;
}
.rate {
  float: left;
  height: 46px;
  padding: 0 10px;
}
.rate:not(:checked) > label {
  float:right;
  width:1em;
  overflow:hidden;
  white-space:nowrap;
  cursor:pointer;
  font-size:30px;
  color:#ccc;
}
.rate:not(:checked) > label:before {
  content: '★ ';
}
.rate > input:checked ~ label {
  color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #deb217;  
}
.rate-m64:not(:checked) > label {
  float:left;
  width:1em;
  overflow:hidden;
  white-space:nowrap;
  cursor:pointer;
  font-size:15px;
  color:#ffc700;
}
.rate-m64:not(:checked) > label:before {
  content: '★ ';
}
.rate-Sonic:not(:checked) > label {
  float:left;
  width:1em;
  overflow:hidden;
  white-space:nowrap;
  cursor:pointer;
  font-size:15px;
  color:#ffc700;
}
.rate-Sonic:not(:checked) > label:before {
  content: '★ ';
}
.rate-Pokemon:not(:checked) > label {
  float:left;
  width:1em;
  overflow:hidden;
  white-space:nowrap;
  cursor:pointer;
  font-size:15px;
  color:#ffc700;
}
.rate-Pokemon:not(:checked) > label:before {
  content: '★ ';
}
.rate-P3:not(:checked) > label {
  float:left;
  width:1em;
  overflow:hidden;
  white-space:nowrap;
  cursor:pointer;
  font-size:15px;
  color:#ffc700;
}
.rate-P3:not(:checked) > label:before {
  content: '★ ';
}
.rate-MP:not(:checked) > label {
  float:left;
  width:1em;
  overflow:hidden;
  white-space:nowrap;
  cursor:pointer;
  font-size:15px;
  color:#ffc700;
}
.rate-MP:not(:checked) > label:before {
  content: '★ ';
}
.rate-TP:not(:checked) > label {
  float:left;
  width:1em;
  overflow:hidden;
  white-space:nowrap;
  cursor:pointer;
  font-size:15px;
  color:#ffc700;
}
.rate-TP:not(:checked) > label:before {
  content: '★ ';
}
.rate-Halo:not(:checked) > label {
  float:left;
  width:1em;
  overflow:hidden;
  white-space:nowrap;
  cursor:pointer;
  font-size:15px;
  color:#ffc700;
}
.rate-Halo:not(:checked) > label:before {
  content: '★ ';
}
.rate-FFVII:not(:checked) > label {
  float:left;
  width:1em;
  overflow:hidden;
  white-space:nowrap;
  cursor:pointer;
  font-size:15px;
  color:#ffc700;
}
.rate-FFVII:not(:checked) > label:before {
  content: '★ ';
}

.box-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.client-comment p{
    font-size: 0.9rem;
    color: #4b4b4b;
}
.Mario64 {
  width: 200px;
}
.Sonic-Adventure{
  width: 110px;
}
.Pokemon-Red {
  width: 200px;
}
.P3FES {
  width: 120px;
}
.Metroid-Prime {
  width: 150px;
}
.Twilight-Princess {
  width: 125px;
}
.Halo {
  width: 150px;
}
.FFVII {
  width: 275px;
}
 
@media(max-width:1060px){
    .testimonial-box{
        width:45%;
        padding: 10px;
    }
}
@media(max-width:790px){
    .testimonial-box{
        width:100%;
    }
    .testimonial-heading {
        font-size: 1.4rem;
    }
}
@media(max-width:340px){
    .box-top{
        flex-wrap: wrap;
        margin-bottom: 10px;
    }
    .reviews{
        margin-top: 10px;
    }
}
::selection{
    color: #ffffff;
    background-color: #252525;
}
/*Custom Fonts used*/
  @font-face {
    font-family: Consolas;
    src: url(Assets/CONSOLA.TTF);
  }
  
  @font-face {
    font-family: Retropix;
    src: url(Assets/retropix.ttf);
  }
  
  @font-face {
    font-family: Arimo;
    src: url(Assets/Arimo-Medium.ttf);
  }
  /*Desktop CSS*/
  @media only screen and (min-width: 1445px)
  {
    .mobile-menu, .mobile-menu-exit
    {
      display: none;
    }
    body {
      margin: 0;
    }
    /* Navbar */
    .navbar {
      padding: 1em;
      display: flex;
    }
    .primary-nav {
      margin: 0;
    }
    .Mobile-Logo {
      display: none;
    }
    .Logo {
      height: 150px;
      cursor: pointer;
      padding: 0;
      display: flex;
    }
    .navbar nav {
      display: flex;
      background: none;
      width: auto;
      height: auto;
      padding: 0;
    }
    ul {
      display: flex;
      text-align: justify;
      display: flex;
    }
    a {
      text-decoration: none;
      color: #2B9E44;
      display: flex;
    }
    nav li a:hover {
      font-weight: bold;
    }
    ul.primary-nav {
      margin: 0;
      display: flex;
    }
    .primary-nav {
      display: flex;
      font-size: 1em;
      padding: .1em 1em;
      margin: 0;
      display: flex;
    }
    .lightdarkmode {
      display: block;
      font-size: 5.5em;
      text-align: justify;
    }
    .container {
      display: flex;
    }
    
    li {
      padding: 3.5em;
      font-size: 1.3em;
      font-family: Retropix;
      display: flex;
    }
    .navbar {
      background-color: #575757;
      padding: 0;
      display: flex;
    }
  }
/*Mobile CSS*/
@media only screen and (max-width: 1445px) {
    body {
      margin: 0;
    }
    /*Navbar*/  
    .Mobile-Logo {
      height: 200px;
      cursor: pointer;
    }
    .Logo {
      display: none;
    }
    .navbar {
      background: #575757;
      padding: 1em;
    }
    .navbar nav{
      display: none;
    }
    .navbar .container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      place-content: space-between;
    }
    .navbar .mobile-menu {
      cursor: pointer;
    }
    ul {
      list-style-type: none;
      margin: 0;
    }
    section {
      padding: 1em 1em;
    }
    li {
      display: flex;
      font-size: 1.3em;
      justify-content: left;
      position: relative;
      font-family: Retropix;
    }
    .primary-nav {
      width: 100%;
      height: 100%;
      font-size: 1em;
      margin: 0;
      position: relative;
      place-content: space-between;
    }
    .navbar nav {
      justify-content: left;
    }
    nav.menu-btn {
      display: block;
    }
    nav {
      background-color: #383737;
      padding: 1em;
      position: absolute;
      z-index: 999;
      width: 66%;
      top: 0;
      right: 0;
    }
    nav ul.primary-nav {
      margin-top: 5em;
    }
    nav li a {
      text-decoration: none;
      display: block;
      padding: .5em;
      font-size: 1em;
      text-align: right;
      color: #2B9E44;
    }
    nav li a:hover {
      font-weight: bold;
    }
    .mobile-menu-exit {
      float: right;
      margin: .5em;
      cursor: pointer;
    }
    .mobile-menu {
      margin: .5em;
      cursor: pointer;
    }
    nav li a:hover {
      font-weight: bold;
    }
  
  .hero {
    padding: 5em;
  }
  .container-about {
    background-color: #a7a7a7;
    padding: 5em;
    border-radius: 15px;
  }
  h1 {
    margin: 0;
    font-family: Consolas;
    color: #2B9E44;
    font-size: 35px;
    text-align: center;
  }
  p {
    color: black;
    font-family: Arimo;
    font-size: 25px;
  }
  }
  @media only screen and (max-width: 768px) {
    .container-about {
      background-color: #a7a7a7;
      border-radius: 15px;
      width: 60%;

    }
    .hero {
      padding: .5em;
    }
    p {
      text-align: center;
      color: black;
      font-family: Arimo;
      font-size: 15px;
      margin: 0;
    }
    h1 {
      margin: 0;
      font-family: Consolas;
      color: #2B9E44;
      font-size: 40px;
      text-align: center;
    }
  } 